.animation__circle {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: circle;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-delay: 1s;
}
@keyframes circle {
    0% {
        left: 0%;
        border-radius: 50%;
    }
    50% {
        border-radius: 0%;
    }
    100% {
        left: 50%;
        border-radius: 50%;
    }
}
